p {
    color: #b25a72;
    width: 90%;
    margin: 2% auto;
}
h1 {
    color: #b25a72;
    width: 90%;
    margin: 2% auto;
}
h2 {
    color: #b25a72;
    width: 90%;
    margin: 2% auto;
}
h3 {
    color: #b25a72;
    width: 90%;
    margin: 2% auto;
}
li {
    color: #b25a72;
    width: 90%;
    margin: 2% auto;
}
a {
    color: black;
    font-weight: 600;
    white-space:normal;
}
#text {
    white-space:normal;
}